.reviews__content--item {
    flex-direction: column;
    width: 100%;
}
.reviews__content--left{
    grid-template-columns: repeat(2, 1fr);
  
}
.reviews__content--left .image{
    width: 100%;
    height: 270px; 
    object-fit: cover; 
    object-position: center;
}
.reviews__content--right{
    padding-top: 8rem;
    width: 100%;
    padding: 0 5rem;
    margin-top: 5rem;}
.reviews__content--right .title{
    font-size: 3.5rem;
    border-left: 2px solid var(--yellow-color);
    padding-left: 2rem;
    margin-bottom: 5rem;
}
.reviews__content--right__reviews{
    max-width: 900px;
}
.reviews__item{
    max-width: 350px;
    margin-bottom: 5rem;
}
.reviews__item .text{
    font-size: 1.5rem;
}
.reviews__item span{
    color:var(--base-yellow-color);
}
.reviews__item .reviews__name{
    margin-top: 2rem;
}

@media screen and (min-width: 992px){
    .reviews__content--item {
        gap: 40px;
        flex-direction: row;
    }
    .reviews__content--left{
        grid-template-columns: repeat(2, 1fr);
      
    }
    .reviews__content--left .image{
        width: 100%;
        height: 370px; 
    }
    .reviews__content--right{
        padding-left: 0;
        width: 50%;
    }
}

















.news__content .text{
    font-size: 2.5rem;
}
.news__content .news__link span{
    transition: var(--transition);
}
.news__content .news__link:hover span{
    padding-left: 0rem;
}
.slick-slide{
   padding: 1rem;
}
.slick-dots li button::before{
    font-size: 15px!important;
    color: var(--base-yellow-color)!important;
}


@media screen and (min-width: 768px){
    .news__item{
        text-align: left;
    }
    .news__content .image{
        height: 350px; 
    }
    .news__content .news__link:hover span{
        padding-left: 2rem;
    }
}