@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;500;600;700;800&family=Abril+Fatface&family=Alkatra:wght@400;600&family=Courier+Prime&family=Josefin+Sans:ital,wght@1,500&family=Kanit:wght@100;200;300;400;500;600;700&family=Libre+Baskerville&family=Merriweather:ital@1&family=Montserrat&family=Noto+Sans:wght@400;600&family=Oswald&family=PT+Sans:wght@700&family=Poppins:wght@200;300;400;500;600;700;800;900&family=Press+Start+2P&family=Prompt:ital,wght@0,300;0,400;0,500;1,300&family=Raleway:wght@100;200;300;400;500;600;700;800;900&family=Roboto+Condensed&family=Sigmar&family=Ubuntu:wght@300;400;500;700&family=Ysabeau+Office:wght@200;300;400;500;600;700;800;900&family=Ysabeau:wght@500&display=swap');
:root{
  --font-base: 'Ysabeau Office', sans-serif;
  --base-yellow-color: #cf9e19;
  --yellow-color: #ebbc3d;
  --grey-color: #52504a;
  --black-color: #0f0f0f;
  --white-color: #fff;
  --whitesmoke-color: #bfbfbd;
  --whitesmokelight-color: #eef1f5;
  --transition: all 300ms ease-in-out;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  font-size: 10px;
}
body{
  font-size: 1.6rem;
  line-height: 1.5;
  font-family: var(--font-base);
  color:var(--black-color);
}
a{
  color: var(--white-color);
  text-decoration: none;
}
ul{
  list-style-type: none;
}
img{
  width: 100%;
  display: block;
}
button{
  cursor: pointer;
  border:none;
  font-size: 1.8rem;
  font-family: inherit;
  background-color: transparent;
  outline: 0;
}
input, textarea{
  border: none;
  resize: none;
  outline: 0;
}


